body {
  /* background-color: #111111; */
  background-color: #282c34;
}

.errors {
  color: white;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input textarea {
  margin-top: 50px;
  padding: 10px;
  width: 80vw;
  height: 30vw;
  text-align: center;
  font-size: 2rem;
}

.Input button {
  padding: 10px;
  font-size: 1.5rem;
  background: white;
  color: black;
}

.App p {
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
